.f4-modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.f4-modal-content {
  background-color: #2E2E2E;
  padding: 20px 40px 40px 40px;
  border-radius: 8px;
  max-width: 600px;
  min-height: 200px;
  max-height: 75vh;
  height: 75vh; /* Add this */
  width: 90%;
  position: relative;
  display: flex;           /* Add this */
  flex-direction: column;  /* Add this */
}

.f4-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: solid 1px var(--offset-1);
}

.f4-modal-body {
  flex: 1 1 auto;          /* Add this */
  overflow-y: auto;
  min-height: 0;           /* Add this for flexbox scrolling */
}

.f4-modal-close {
  background: none;
  border: none;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  color: #D9D9D9;
  transition: transform 300ms;
  padding: 0;
}

.f4-modal-close:hover {
  transform: scale(1.25);
}