@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.f4-admin {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    background-color: rgb(220,220,220);
    color: rgb(40,40,40);
    margin: 0 auto;
}

.model-section-header {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.model-section-title {
    color: rgb(40,40,40);
}

.model-section-header--side {
    flex-basis: 30%;
    font-weight: 600;
    font-size: 16px;
    color: rgb(200,200,200);
}

.f4-models-list {
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 20px 20px;
    padding: 0;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

/* Model Items */

.f4-models-list__item {
    flex-basis: 180px;
    width: 180px;
    cursor: pointer;
    padding: 40px 12px;
    background: rgb(200,200,200);
    color: rgb(100,100,100);
    flex-shrink: 0;
    box-sizing: content-box;
}

.f4-models-list__item:hover {
    background: rgb(170, 170, 170);
    color: rgb(50, 50, 50);
}

.f4-models-list__item--selected {
    background: rgb(100, 100, 100);   /* darker background */
    color: rgb(255, 255, 255);        /* light text for contrast */
    font-weight: bold;
    border: 2px solid rgb(80, 80, 80); /* optional: border to emphasize selection */
}


.f4-add-model-button {
    padding: 8px 16px;
    background-color: rgb(200,200,200);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms;
}

.f4-add-model-button:hover {
    background-color: rgb(180,180,180);
}

.model-properties-header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f4-add-property-button {
    padding: 8px 16px;
    background-color: rgb(200,200,200);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms;
}

.f4-add-property-button:hover {
    background-color: rgb(180,180,180);
}

.f4-property-list {
    padding: 20px;
}