.tabs {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.tabs__list {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.tabs__tab {
  padding: 0.5rem 1rem;
  color: var(--main-text-color);
  font-weight: 500;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.tabs__tab:hover {

}

.tabs__tab--active {

}

.tabs__panel {
  padding: 1rem;
}
